/* 登录按钮样式 */
.login-button-nav {
    position: absolute; /* 使用绝对定位 */
    top: 20px; /* 调整顶部位置 */
    left: 20px; /* 调整左侧位置 */
    z-index: 10; /* 确保按钮在其他元素之上 */
}

/* 注册按钮样式 */
.register-button-nav {
    position: absolute; /* 使用绝对定位 */
    bottom: 340px; /* 调整底部位置 */
    right: 470px; /* 调整右侧位置 */
    z-index: 10; /* 确保按钮在其他元素之上 */
}

/* 其他公共样式 */
.auth-button-link {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
}

.auth-button-link:hover {
    text-decoration: underline;
}
